<%- include ("./partials/navbar"); %>




<div class="main-container">
<div class="row">
  <div class="col-lg-6 pimg">
    <img src="../images/c4.png" alt="" class="pro-img">
  </div>
  <div class="col-lg-6 details">
    <h1 class="main-head">Gaming PC 4</h1>
  </span>
  <div class="reviews">
    <div class="review-rating">★★ 2 |</div>
    <div class="review-count">5 reviews</div>
</div>
  
</span>
<div>

  <span class="lead2">1250$</span>
</div>
    <div class="div-2">
     <h3> Contains the details about the product. </h3>
    </div>
    <button type="button" class="btn-lg btn-danger" onclick="addtocart('4','Gaming PC 4', '1,250', '../images/c4.png')"><i class="fa-solid fa-cart-shopping"> Add to Cart</i></button>
    <button type="button" class="btn-lg btn-success"><i class="fa-solid fa-bag-shopping">        Buy      </i></button>
  </div>
</div>




<div class="footermain">
    <div class="container">
        <nav id="footer" class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Reely.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon"> <i class="las la-bars la-2x"></i></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mx-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Computers</a>
                  </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Laptops</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link " href="#" >Smartphones</a>
                </li>
              </ul>
             <h1 class="display-4">Designed with <i class="las la-heart la-2x"></i> by Shubham Kumar</h1>
          </nav>         
        </nav>
    </div>
        </div>
    
        </div>

      </div>