
  <%- include ("./partials/navbar"); %>


    <div class="product-list">
      <div class="container" id="row1">
          <h1 class="text-left">Computers</h1>
          <div  class="row "  data-aos="fade-up" data-aos-duration="2000">
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="product">
                      <div class="product-image imagec5">
  
                      </div>
                      <h1 class="display-4">Asus Rog Strix</h1>
                      <div class="reviews">
                        <div class="review-rating">★★★★★ 4.2 |</div>
                        <div class="review-count">21221 reviews</div>
                    </div>
                      <div class="productrow">
                      <p class="lead">1400$</p>
                      <button class="buy"  onclick="addtocart('13','Asus Rog Strix', '1400', '/images/cc1.png')" ><i class="las la-shopping-cart la-2x  "></i></button>
                  </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="product"> <div class="product-image imagec6">
                          
                      </div>        <h1 class="display-4">Alienware</h1>
                      <div class="reviews">
                        <div class="review-rating">★★★★ 4 |</div>
                        <div class="review-count">221 reviews</div>
                    </div>
                      <div class="productrow">
                      <p class="lead">1290$</p>
                      <button class="buy" onclick="addtocart('14','Alienware', '1299', '/images/cc2.png')" ><i class="las la-shopping-cart la-2x  "></i></button>
                  </div></div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="product"> <div class="product-image imagec7">
                          
                  </div>        <h1 class="display-4">Lenovo Ideacentre</h1>
                  <div class="reviews">
                    <div class="review-rating">★★★ 3.2 |</div>
                    <div class="review-count">2 reviews</div>
                </div>
                  <div class="productrow">
                  <p class="lead">3000$</p>
                  <button class="buy" onclick="addtocart('15','Lenovo Ideacentre', '3000', '/images/cc3.png')" ><i class="las la-shopping-cart la-2x  "></i></button>
              </div></div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="product"> <div class="product-image imagec8">
                          
                  </div>        <h1 class="display-4">HP Victus</h1>
                  <div class="reviews">
                    <div class="review-rating">★★★★★ 4.2 |</div>
                    <div class="review-count">21221 reviews</div>
                </div>
                  <div class="productrow">
                  <p class="lead">1234$</p>
                  <button class="buy" onclick="addtocart('16','HP Victus', '1234', '/images/cc4.png')"><i class="las la-shopping-cart la-2x  "></i></button>
              </div></div>
              </div>
          </div>
      </div>




      <div class="footermain">
        <div class="container">
            <nav id="footer" class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">Reely.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="icon"> <i class="las la-bars la-2x"></i></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto mx-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Computers</a>
                      </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Laptops</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#" >Smartphones</a>
                    </li>
                  </ul>
                 <h1 class="display-4">Designed with <i class="las la-heart la-2x"></i> by Shubham Kumar</h1>
              </nav>         
            </nav>
        </div>
            </div>
        
            </div>