<%- include ("./partials/navbar"); %>
 <div class="hero" >
        <div class="container">
            <div class="row " data-aos="fade-up" data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" >
                <div class="col-xl-6 col-md-12">
                <div class="herocontent">
                    <h1 class="display-4"><b>Reely</b> - A new gaming 
                        online shop in the Town</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptatibus aliquam </p>
                    <div class="hero-row">
                    <button class="brobtn herobutton btn-lg">Shop Now</button>
                    <button class="hrobtn herobutton btn-lg  ">Scroll more</button>
                </div>
                </div>
            
                </div>
            </div>
        </div>
    </div>
    <div class="offer" >
    <div class="container">
        <div class="row " data-aos="fade-up" data-aos-easing="ease-out-cubic"
        data-aos-duration="500">
            <div class="col-lg-6"><div class="left">
                    </div>

                </div>
    <div class="col-lg-6">
                <div class="right">
    <h1 class="display-4"><b>Geforce 2080</b> - The Power  of the 
Gaming </h1>
<p class="lead" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptatibus aliquam </p>

<div class="row1">
    <h3>599$</h3>
    <button class="buynow">Buy Now<i class="las la-shopping-cart la-2x  "></i></button>
</div>
                </div>
            </div> </div>
    </div></div>
<div class="product-list">
    <div class="container" id="row1">
        <h1 class="text-left"><a href="/computer">Computers  <i class="fa-solid fa-square-arrow-up-right"></i></a></h1>
        <div  class="row "  data-aos="fade-up" data-aos-duration="2000">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product">
                    <div class="product-image image5">
                    </div>
                    <h1 class="display-4"><a href="/c1"> Gaming PC 1</a></h1>
                </span>
                <div class="reviews">
                    <div class="review-rating">★★★★★ 5 |</div>
                    <div class="review-count">1116 reviews</div>
                </div>
                
            </span>
                    <div class="productrow">
                    <p class="lead">1500$</p>
                    <button class="buy" onclick="addtocart('1','Gaming PC 1', '1,500', '../images/c1.png')"><i class="las la-shopping-cart la-2x  "></i></button>
                </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image image6">
                        
                    </div>        <h1 class="display-4"><a href="/c2"> Gaming PC 2</a></h1>
                </span>
                <div class="reviews">
                    <div class="review-rating">★★★★ 4 |</div>
                    <div class="review-count">11 reviews</div>
                </div>
                
            </span>
                    <div class="productrow">
                    <p class="lead">1250$</p>
                    <button class="buy" onclick="addtocart('2','Gaming PC 2', '1,250', '../images/c2.png')"><i class="las la-shopping-cart la-2x  "></i></button>
                </div></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image image7">
                        
                </div>
            <h1 class="display-4"><a href="/c3"> Gaming PC 3</a></h1>
                <div class="reviews">
                    <div class="review-rating">★★★ 3 |</div>
                    <div class="review-count">131 reviews</div>
                </div>
                <div class="productrow">
                <p class="lead">1250$</p>
                <button class="buy" onclick="addtocart('3','Gaming PC 3', '1,250', '../images/c3.png')"><i class="las la-shopping-cart la-2x  "></i></button>
            </div></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image image8">
                        
                </div>        <h1 class="display-4"><a href="/c4"> Gaming PC 4</a></h1>
                <div class="reviews">
                    <div class="review-rating">★★ 2 |</div>
                    <div class="review-count">5 reviews</div>
                </div>
                <div class="productrow">
                <p class="lead">1250$</p>
                <button class="buy" onclick="addtocart('4','Gaming PC 4', '1,250', '../images/c4.png')"><i class="las la-shopping-cart la-2x  "></i></button>
            </div></div>
            </div>
        </div>
    </div>







    <div class="container" id="row2">
      <h1 class="text-left"><a href="/laptops">Laptops  <i class="fa-solid fa-square-arrow-up-right"></i></a></h1>
      <div   data-aos="fade-up" data-aos-duration="2000" class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="product">
                  <div class="product-image">
                        <img src="images/mac1.png" class="product-image" alt="">
                  </div>
                  <h1 class="display-4"><a href="/l1"> Macbook Pro</a></h1>
                  <div class="reviews">
                    <div class="review-rating">★★★★★ 4.2 |</div>
                    <div class="review-count">21221 reviews</div>
                </div>
                  <div class="productrow">
                  <p class="lead">1250$</p>
                  <button class="buy" onclick="addtocart('5','Macbook Pro', '1,250', 'images/mac1.png')"><i class="las la-shopping-cart la-2x  "></i></button>
              </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="product"> <div class="product-image image2">
                      
                  </div>   
            <h1 class="display-4"><a href="/l2"> ASUS ROG Laptop</a></h1>
                  <div class="reviews">
                    <div class="review-rating">★★★★★ 4.7 |</div>
                    <div class="review-count">221 reviews</div>
                </div>
                  <div class="productrow">
                  <p class="lead">1250$</p>
                  <button class="buy" onclick="addtocart('6','ASUS ROG Laptop', '1,250', '../images/msi.png')"><i class="las la-shopping-cart la-2x  "></i></button>
              </div></div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="product"> <div class="product-image image3">
                      
              </div>        <h1 class="display-4"><a href="/l3"> HP OMEN Laptop</a></h1>
              <div class="reviews">
                <div class="review-rating">★★★ 3.2 |</div>
                <div class="review-count">51 reviews</div>
            </div>
              <div class="productrow">
              <p class="lead">1250$</p>
              <button class="buy" onclick="addtocart('7','HP OMEN Laptop', '1,250', '../images/msi2.png')"><i class="las la-shopping-cart la-2x  "></i></button>
          </div></div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="product"> <div class="product-image image4">
                      
              </div>        <h1 class="display-4"><a href="/l4"> Acer Laptop</a></h1>
              <div class="reviews">
                <div class="review-rating">★★ 2.2 |</div>
                <div class="review-count">1221 reviews</div>
            </div>
              <div class="productrow">
              <p class="lead">1250$</p>
              <button class="buy" onclick="addtocart('8','Acer Laptop', '1,250', '../images/asus.png')" ><i class="las la-shopping-cart la-2x  "></i></button>
          </div></div>
          </div>
      </div>
  </div>
  <div class="container" id="row3">
    <h1 class="text-left"><a href="/smartphone">Phones  <i class="fa-solid fa-square-arrow-up-right"></i></a></h1>
    <div  data-aos="fade-up" data-aos-duration="2000" class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="product">
                <div class="product-image image9">

                </div>
                <h1 class="display-4"><a href="/s1"> Iphone 11 Pro</a></h1>
                <div class="reviews">
                    <div class="review-rating">★★★★★ 4.8 |</div>
                    <div class="review-count">21221 reviews</div>
                </div>
                <div class="productrow">
                <p class="lead">700$</p>
                <button class="buy" onclick="addtocart('9','Iphone 11 Pro', '700', '../images/s1.png')"><i class="las la-shopping-cart la-2x  "></i></button>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="product"> <div class="product-image image10">
                    
                </div>        <h1 class="display-4"><a href="/s2"> Galaxy Note 10</a></h1>
                <div class="reviews">
                    <div class="review-rating">★★★★ 4.2 |</div>
                    <div class="review-count">41221 reviews</div>
                </div>
                      <div class="productrow">
                <p class="lead">700$</p>
                <button class="buy"  onclick="addtocart('10','Galaxy Note 10', '700', '../images/s2.png')"><i class="las la-shopping-cart la-2x  "></i></button>
            </div></div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="product"> <div class="product-image image11">
                    
            </div>        <h1 class="display-4"><a href="/s3"> Huawei P20 Pro</a></h1>
            <div class="reviews">
                <div class="review-rating">★★★ 3.2 |</div>
                <div class="review-count">221 reviews</div>
            </div>
            <div class="productrow">
            <p class="lead">700$</p>
            <button class="buy" onclick="addtocart('11','Huawei P20 Pro', '700', '../images/s3.png')"><i class="las la-shopping-cart la-2x  "></i></button>
        </div></div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="product"> <div class="product-image image12">
                    
            </div>        <h1 class="display-4"><a href="/s4"> Oneplus Pro</a></h1>
            <div class="reviews">
                <div class="review-rating">★★★★ 4 |</div>
                <div class="review-count">321 reviews</div>
            </div>
            <div class="productrow">
            <p class="lead">700$</p>
            <button class="buy" onclick="addtocart('12','Oneplus Pro', '700', '../images/s4.png')" ><i class="las la-shopping-cart la-2x  "></i></button>
        </div></div>
        </div>
    </div>
</div>
</div>

<div class="footermain">
<div class="container">
    <nav id="footer" class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Reely.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon"> <i class="las la-bars la-2x"></i></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Computers</a>
              </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Laptops</a>
              </li>
            <li class="nav-item">
              <a class="nav-link " href="#" >Smartphones</a>
            </li>
          </ul>
         <h1 class="display-4">Designed with <i class="las la-heart la-2x"></i> by Shubham Kumar</h1>
      </nav>         
    </nav>
</div>
    </div>

    </div>

