<%- include ("./partials/navbar"); %>


    <div class="container" id="row2">
        <h1 class="text-left">Laptops</h1>
        <div   data-aos="fade-up" data-aos-duration="2000" class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product">
                    <div class="product-image imagel1">
  
                    </div>
                    <h1 class="display-4">Macbook Air </h1>
                    <div class="reviews">
                      <div class="review-rating">★★★★★ 4.2 |</div>
                      <div class="review-count">21221 reviews</div>
                  </div>
                    <div class="productrow">
                    <p class="lead">2250$</p>
                    <button class="buy"  onclick="addtocart('17','Macbook Air', '2250', '/images/l1.png')"><i class="las la-shopping-cart la-2x  "></i></button>
                </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image imagel2">
                        
                    </div>        <h1 class="display-4">Alienware</h1>
                    <div class="reviews">
                      <div class="review-rating">★★★★★ 4.2 |</div>
                      <div class="review-count">21221 reviews</div>
                  </div>
                    <div class="productrow">
                    <p class="lead">1700$</p>
                    <button class="buy"  onclick="addtocart('18','Alienware', '1700', '/images/l2.png')"><i class="las la-shopping-cart la-2x  "></i></button>
                </div></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image imagel3">
                        
                </div>        <h1 class="display-4">Lenovo i7 Laptop</h1>
                <div class="reviews">
                  <div class="review-rating">★★★★★ 4.2 |</div>
                  <div class="review-count">21221 reviews</div>
              </div>
                <div class="productrow">
                <p class="lead">3500$</p>
                <button class="buy" onclick="addtocart('19','Lenovo i7 Laptop', '3500', '/images/l3.png')"><i class="las la-shopping-cart la-2x  "></i></button>
            </div></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image imagel4">
                        
                </div>        <h1 class="display-4">Asus Laptop</h1>
                <div class="reviews">
                  <div class="review-rating">★★★★★ 4.2 |</div>
                  <div class="review-count">21221 reviews</div>
              </div>
                <div class="productrow">
                <p class="lead">1250$</p>
                <button class="buy" onclick="addtocart('20','Asus Laptop', '1250', '/images/l4.png')"><i class="las la-shopping-cart la-2x  "></i></button>
            </div></div>
            </div>
        </div>
    </div>






    



    <div class="footermain">
        <div class="container">
            <nav id="footer" class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">Reely.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="icon"> <i class="las la-bars la-2x"></i></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto mx-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Computers</a>
                      </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Laptops</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#" >Smartphones</a>
                    </li>
                  </ul>
                 <h1 class="display-4">Designed with <i class="las la-heart la-2x"></i> by Shubham Kumar</h1>
              </nav>         
            </nav>
        </div>
            </div>
        
            </div>
  
