<%- include ("./partials/navbar"); %>





    <div class="container" id="row3">
        <h1 class="text-left">Smartphones</h1>
        <div  data-aos="fade-up" data-aos-duration="2000" class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product">
                    <div class="product-image images1">
    
                    </div>
                    <h1 class="display-4">OnePlus Nord </h1>
                    <div class="reviews">
                      <div class="review-rating">★★★★★ 4.2 |</div>
                      <div class="review-count">21221 reviews</div>
                  </div>
                    <div class="productrow">
                    <p class="lead">500$</p>
                    <button class="buy" onclick="addtocart('21','OnePlus Nord', '500', '/images/ss1.png')"><i class="las la-shopping-cart la-2x  "></i></button>
                </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image images2">
                        
                    </div>        <h1 class="display-4">Redmi K50</h1>
                    <div class="reviews">
                      <div class="review-rating">★★★★ 4.2 |</div>
                      <div class="review-count">1 reviews</div>
                  </div>
                          <div class="productrow">
                    <p class="lead">400$</p>
                    <button class="buy"  onclick="addtocart('22','Redmi K50', '400', '/images/ss2.png')"><i class="las la-shopping-cart la-2x  "></i></button>
                </div></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image images3">
                        
                </div>        <h1 class="display-4">Galaxy S20 </h1>
                <div class="reviews">
                  <div class="review-rating">★★ 2.2 |</div>
                  <div class="review-count">221 reviews</div>
              </div>
                <div class="productrow">
                <p class="lead">700$</p>
                <button class="buy"  onclick="addtocart('23','Galaxy S20 ', '700', '/images/ss3.png')"><i class="las la-shopping-cart la-2x  "></i></button>
            </div></div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="product"> <div class="product-image images4">
                        
                </div>        <h1 class="display-4">Galaxy M32 </h1>
                <div class="reviews">
                  <div class="review-rating">★★★★★ 5 |</div>
                  <div class="review-count">21221 reviews</div>
              </div>
                <div class="productrow">
                <p class="lead">700$</p>
                <button class="buy"  onclick="addtocart('24','Galaxy SM32 ', '700', '/images/ss4.png')"><i class="las la-shopping-cart la-2x  "></i></button>
            </div></div>
            </div>
        </div>
    </div>
    </div>
    
    <div class="footermain">
    <div class="container">
        <nav id="footer" class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Reely.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon"> <i class="las la-bars la-2x"></i></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mx-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Computers</a>
                  </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Laptops</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link " href="#" >Smartphones</a>
                </li>
              </ul>
             <h1 class="display-4">Designed with <i class="las la-heart la-2x"></i> by Shubham Kumar</h1>
          </nav>         
        </nav>
    </div>
        </div>
    
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    

      </body>
    </html>