body{
    background-image: url('https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
}

h1{
    font-family: 'Roboto Slab', serif;
    color: white;
}

.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    font-size: 30px;
    height: 55px;
    border: 2px solid darkcyan;
    border-radius: 20px;
}

button{
    font-size: 40px;
    background: cyan;
    width: 92px;
    height: 58px;
    border-radius: 20px;
}

.calculator{
    display: inline-block;
    background-color: rgb(244, 106, 7);
    padding: 23px;
    border-radius: 20px;
    border: 4px solid lightgreen;
}

button:hover{
    background-color:darkcyan;
    transition: 0.4s;
}